
.nav-title.hidden, .nav-search, .nav-search-container  {
  display: none;
}

.nav-search-container.visible{
  display: flex;
}

.nav-search.visible, .nav-title {
  display: block;
  animation: slideIn .7s ease;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.nav-search .fa-xmark {
  font-size: 1rem;
  color: var(--secondary-text-color);
  padding: 0.5rem;
}




.return {
  font-size: 1.3rem;
  color: var(--secondary-text-color);
}


.item-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.item {
  max-width: 1208px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.item-pic {
  padding: 1rem;
  width: 37rem;
}

.item-info {
  padding: 1rem;
}
.item-icons {
  display: flex;
  justify-content: space-between;
  color: var(--secondary-text-color);
}

.item-likes-comments {
  display: flex;
}

.item-likes, .item-comments {
  display: flex;
  margin: 0 1rem;
}


.like-box, .comment-box {
  background-color: #ededed;
  border-radius: 9999px;
  padding: 0.3rem 0.6rem;
  margin-right: 0.3rem;
  color: var(--secondary-text-color);
}

.like-count, .comment-count {
  font-weight: bold;
  padding-top: 0.5rem;
  color: var(--secondary-text-color);
}

.item-flag {
  padding-top: 1rem;
  margin-right: 1rem;
}

.item-flag svg{
  background-color: #ededed;
  border-radius: 50%;
  padding: 0.5rem
}

.description-title {
  background-color: #ededed;
  padding: 2rem 1rem 0.5rem 1rem;
  margin: 0;
  color: var(--secondary-text-color);
}

.description-content {
  padding: 1rem;
  margin: 0;
}

.purchase-box {
  display: flex;
  justify-content: space-between;
  background-color: #3D2B1F;
  color: white;
  margin-top: 2rem;
}

.item-price {
  display: flex;
  padding: 0.8rem 0.5rem;
}

.purchase-box h2, .purchase-box h3, .purchase-box p {
  margin: 0;
}

.item-price h2 {
  font-size: 1.5rem;
  margin-right: 0.3rem;
  font-weight: lighter;
}
.item-price p {
  font-size: 0.7rem;
  padding-top: 0.7em;
  color: white;
}

.purchase-box h3 {
  padding: 0.9rem 0.5rem 0;
  margin: 0.2rem 0.2rem;
  font-weight: lighter;
  font-size: 0.8rem;
  background-color: #FF0211;
  border-radius: 4px;
  transition: 0.3s ease;
}

.purchase-box h3:hover {
  filter: brightness(85%);
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .item {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .item-pic {
    width: 95vw;
    padding-bottom: 0;
  }

  .item-info {
    padding-top: 0;
  }



  .item-icons p {
    font-size: 0.9rem;
  }

  .item-flag {
    padding-top: 0.9rem;
  }
  .item-title {
    font-size: 1rem;
    font-weight: lighter;
    padding: 0.1rem 1rem;
    margin-top: 0;
  }

  .purchase-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
  }

  .nav-title h1{
    font-size: 1.2rem;
  }

}
