.cards-container {
  margin-top: 2rem;
 display: flex;
 justify-content: center;
}

.cards {
  max-width: 1208px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;

}

.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  transition: 0.3s ease;
}

.card:hover {
  filter: brightness(85%);
}

.sold-color {
  position: absolute;
  top: 0;
  left: 0;
  border-left: 5rem solid #FF0211;
  border-bottom: 5rem solid transparent;
}

.sold-text {
  rotate: -45deg;
  position: absolute;
  top: 1rem;
  left: 0.2rem;
  color: white;
  font-weight: bold;
}

img {
  width: 100%;
  object-fit: cover;

}



.card .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card p {
  font-size: 1rem;
  color: var(--secondary-text-color);
  opacity: .7;
  margin: 0;
}


 .card-infos {
  padding: 0.4rem;
}

.card-details {
  margin-top: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-details .card-price {
  font-weight: bold;
  font-size: 1.1rem;
  color: black;
}
 .list-item {
  background-color: #FF0211;
  font-size: 2.3rem;
  text-align: center;
  color: white;
  width: 60px;
  padding: 0.5rem;
  border-radius: 50%;
  position: fixed;
  right: -0.7rem;
  bottom: -0.7rem;
  display: none;
  transition: 0.3s ease;
 }

 .list-item p {
  color: white;
  font-size: 0.6rem;
  margin: 0;
 }

 .list-item:hover {
  filter: brightness(85%);
  cursor: pointer;
 }


@media all and (min-width: 768px) and (max-width: 1024px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
 }

@media all and (min-width: 480px) and (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .list-item {
    display: block;
  }
}

@media all and (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .list-item {
    display: block;
  }
}
