.results-container {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.index-container {
  padding-top: 120px;
}

.category-results-container {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.results {
  width: 1208px;
  padding: 1rem;
}

.results h2 {
  margin: 0;
}
