.nav-container {
  max-width: 1208px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  position: relative;
}


.menu-icon {
  display: none;
  color: var(--secondary-text-color);
  font-size: 1.3rem;
}

.nav-elements {
  display: none;
}


.nav-elements ul a.active {
  color: var(--secondary-text-color);
  text-decoration: none;

}


.nav-icons {
  display: flex;
  color: var(--secondary-text-color);
  font-size: 1.3rem;
}

.nav-icons svg {
  margin-left: 1rem;
}



@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {

    position: absolute;
    left: 0;
    top: 60px;
    background-color: white;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    z-index: 2;
  }

  .nav-elements.active {
    width: 270px;
    display: block;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-top: .6rem;
  }
}
