.search-container {
  position: relative;
  display: inline-block;
  color: var(--secondary-text-color);
}

.search-input {
  height: 2rem;
  padding: 0 1rem;
  width: 400px;
  background-color: #ededed;
  border: none;
  border-radius: .5rem;
}


input:focus {
  outline: none;
  border: 1px solid var(--secondary-text-color);
}

.search-button {
  position: absolute;
  padding: 0.5rem;
  top: 0;
  right: 0;
  transition: background-color 0.3s ease;
  display: block;
  height: 1rem;
  overflow: hidden;
  border-radius: .5rem;
}



.search-suggestions {
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 430px;
  border: 1px solid;
}

.search-item {
  padding: 0.5rem;
  transition: background-color 0.3s ease;
}

.search-button:hover, .search-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}


@media all and (max-width: 768px) {
.search-button {
  display: none;
}

.search-input{
  width: 100%;
}

.search-suggestions {
  width: 100%;
  height: auto;
}

}
