.tabs-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--secondary-text-color);
 }

 .tabs {
  margin-top: 60px;
  height: 40px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
 }

ul {
  width: 1208px;
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 0;
}
ul li a{
  text-decoration: none;
  color: var(--secondary-text-color);

  font-size: 1rem;

}

ul li {
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

ul li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}


.active{
  color: var(--red-text-color);
}


@media all and (max-width: 1024px) {
  ul {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

  }
  ::-webkit-scrollbar {
    display: none;
  }
  li{
    display: inline-block;
  }
 }
