@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#root {
  --main-text-color: #202124;
  --secondary-text-color: #6c757d;
  --red-text-color: #ff5266;
  position: relative;
}

html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

p {
  color: var(--main-text-color);
}
