@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#root {
  --main-text-color: black;
  --secondary-text-color: #6c757d;
  --red-text-color: #ff5266;
}


body {
  font-family: 'Roboto', sans-serif;
}
