.nav-container {
  max-width: 1208px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
  border-bottom: 1px solid var(--secondary-text-color);
}




.menu-icon {
  display: none;
  color: var(--secondary-text-color);
  font-size: 1.3rem;
}

.nav-elements {
  display: none;
}


.nav-elements ul a.active {
  color: var(--secondary-text-color);
  text-decoration: none;

}


.nav-icons {
  display: flex;
  color: var(--secondary-text-color);
  font-size: 1.3rem;
}

.nav-icons svg {
  margin-left: .5rem;
  transition: background-color 0.3s ease;
  padding: .3rem;
}

.nav-icons svg:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}


.nav-title.hidden, .nav-search, .nav-search-container  {
  display: none;
}

.nav-search-container.visible{
  display: flex;
}

.nav-search.visible, .nav-title {
  display: block;
  animation: appear .7s ease;
}

@keyframes appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.nav-search .fa-xmark {
  font-size: 1rem;
  color: var(--secondary-text-color);
  padding: 0.5rem;
  transition: background-color 0.3s ease;
  border-radius: .5rem ;
}

.nav-search .fa-xmark:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}




.return {
  font-size: 1.3rem;
  color: var(--secondary-text-color);
  transition: background-color 0.3s ease;
  padding: .3rem;
}

.return:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}



@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {

    position: absolute;
    left: 0;
    top: 60px;
    background-color: white;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    z-index: 2;
  }

  .nav-elements.active {
    width: 270px;
    display: block;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-top: .6rem;
  }
}
